@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.revive-goods {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semibold */
    font-size: 32px;
    color: #FFFFFF; /* Warna sesuai desain */
}

header {
    background-color: #473771;
}

.links {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:16px;
    color: #FFFFFF;
}

.links:hover {
    color: #C3ADFC; /* Change this to any color you prefer for the hover effect */
    text-decoration: underline; /* Optional: Adds an underline effect on hover */
}

.h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semibold */
    font-size: 42px ;
    color: #473771; /* Warna sesuai desain */
}

.h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #AE92F7; /* Warna sesuai desain */
}

.h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #473771; /* Warna sesuai desain */
    text-align:left;
}

.h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #473771; /* Warna sesuai desain */
}

.h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #AE92F7; /* Warna sesuai desain */
}

.body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #473771; /* Warna sesuai desain */
}
